$body-color: #fff;
$fsz-sm14: 1.4rem;
$fsz-sm16: 1.6rem;
$fsz-md18: 1.8rem;
$fsz-md20: 2rem;
$fsz-md21: 2.1rem;
$fsz-md26: 2.6rem;
$fsz-lg30: 3rem;
$fsz-lg40: 4rem;
$fsz-slg50: 5rem;

$lh-sm18: 1.8rem;
$lh-sm24: 2.4rem;
$lh-sm26: 2.6rem;
$lh-sm28: 2.8rem;
$lh-lg30: 3rem;
$lh-lg36: 3.6rem;
$lh-lg40: 4rem;
$lh-slg60: 6rem;
$lh-slg70: 7rem;