$body-color: #fff;
$footer-c: rgba(57, 49, 47, 0);
$header_upper-c: rgba(0, 0, 0, 0.35);
$main-yellow-c: rgb(245, 215, 110);
$content-c: rgb(40, 33, 31);
$section-header-c: rgb(40, 33, 31);
$light-content-c: rgb(255, 255, 255);

$ff-PD: "Playfair Display", Arial, sans-serif;
$ff_L: "Lato", Arial, sans-serif;

$fsz14: 1.4rem;
$fsz16: 1.6rem;
$fsz18: 1.8rem;
$fsz20: 2rem;
$fsz21: 2.1rem;
$fsz26: 2.6rem;
$fsz30: 3rem;
$fsz40: 4rem;
$fsz48: 4.8rem;

$lh18: 1.8rem;
$lh24: 2.4rem;
$lh26: 2.6rem;
$lh28: 2.8rem;
$lh30: 3rem;
$lh36: 3.6rem;
$lh40: 4rem;
$lh60: 6rem;
$lh70: 7rem;

$fw500: 500;
$fw700: 700;
$fw900: 900;