@font-face {
  font-family: "Roboto";
  src:url("../fonts/RobotoRegular.woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/subset-Lato-Heavy.eot');
  src: url('../fonts/subset-Lato-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-Lato-Heavy.woff2') format('woff2'),
  url('../fonts/subset-Lato-Heavy.woff') format('woff'),
  url('../fonts/subset-Lato-Heavy.ttf') format('truetype'),
  url('../fonts/subset-Lato-Heavy.svg#Lato-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/subset-Lato-Medium.eot');
  src: url('../fonts/subset-Lato-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-Lato-Medium.woff2') format('woff2'),
  url('../fonts/subset-Lato-Medium.woff') format('woff'),
  url('../fonts/subset-Lato-Medium.ttf') format('truetype'),
  url('../fonts/subset-Lato-Medium.svg#Lato-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/subset-Lato-Semibold.eot');
  src: url('../fonts/subset-Lato-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-Lato-Semibold.woff2') format('woff2'),
  url('../fonts/subset-Lato-Semibold.woff') format('woff'),
  url('../fonts/subset-Lato-Semibold.ttf') format('truetype'),
  url('../fonts/subset-Lato-Semibold.svg#Lato-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/subset-PlayfairDisplay-Black.eot');
  src: url('../fonts/subset-PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-PlayfairDisplay-Black.woff2') format('woff2'),
  url('../fonts/subset-PlayfairDisplay-Black.woff') format('woff'),
  url('../fonts/subset-PlayfairDisplay-Black.ttf') format('truetype'),
  url('../fonts/subset-PlayfairDisplay-Black.svg#PlayfairDisplay-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/subset-PlayfairDisplay-Bold.eot');
  src: url('../fonts/subset-PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-PlayfairDisplay-Bold.woff2') format('woff2'),
  url('../fonts/subset-PlayfairDisplay-Bold.woff') format('woff'),
  url('../fonts/subset-PlayfairDisplay-Bold.ttf') format('truetype'),
  url('../fonts/subset-PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/subset-PlayfairDisplay-Regular.eot');
  src: url('../fonts/subset-PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-PlayfairDisplay-Regular.woff2') format('woff2'),
  url('../fonts/subset-PlayfairDisplay-Regular.woff') format('woff'),
  url('../fonts/subset-PlayfairDisplay-Regular.ttf') format('truetype'),
  url('../fonts/subset-PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
