@font-face {
  font-family: 'Lato';
  src: url('../fonts/subset-Lato-Heavy.eot');
  src: url('../fonts/subset-Lato-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-Lato-Heavy.woff2') format('woff2'),
  url('../fonts/subset-Lato-Heavy.woff') format('woff'),
  url('../fonts/subset-Lato-Heavy.ttf') format('truetype'),
  url('../fonts/subset-Lato-Heavy.svg#Lato-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}