.container{

  &--header-upper{
    display: flex;
  }
  &--header-bottom{
    padding-bottom: 150px;
    font-size: 0;
  }

}
@media (max-width: $toast-breakpoint-small) {
}
@media (max-width: $toast-breakpoint-medium) {
}
