.container{
  width: 1270px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;

  &--header-upper{

  }

}
@media (max-width: $toast-breakpoint-small) {
}
@media (max-width: $toast-breakpoint-medium) {
}
