.footer{

}
.footer__social{
  width: 180px;
  height: 55px;
  margin-right: -5px;
  & a{
    display: block;
    box-sizing: border-box;
    width: 53px;
    height: 53px;
    border: 3px solid rebeccapurple;
    border-radius: 50%;
    background-position: 54% 42%;
    background-repeat: no-repeat;
    background-size: auto;
    &:hover{
      border-color: greenyellow;
    }
    &:active{
      opacity: 0.5;
    }
  }
  &__image{
    fill: green;
  }
  &__twitter{
    padding: 17px 15px;
  }
  &__facebook{
    padding: 14px 19px;
  }
  &__youtube{
    padding: 16px 18px;
  }
}
@media (max-width: $toast-breakpoint-small) {
}
@media (max-width: $toast-breakpoint-medium) {
}
