.header{

}
.header__upper{
  padding: 40px 0;
  background-color: rgba(67, 57, 46, 0.46);
}
.header__bottom{

}
.header__logo-toggle{
  position: relative;

}
.header__toggle{

}
@media (max-width: $toast-breakpoint-small) {
}
@media (max-width: $toast-breakpoint-medium) {
}
