.header{
  
}
.header__upper{
  padding: 10px 0;
  background-color: rgba(67, 57, 46, 0.46);
}
.header__bottom{
  margin: 100px 100px;
  &-menu-link{
    display: inline-block;
    box-sizing: border-box;
    margin: 20px 0;
    padding: 20px 60px;
    border: 2px solid #ffffff;
    background-color: rgba(57, 49, 47, 0);
    color: #ffffff;
    font-family: "Lato - Heavy";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.33px;

  }

}
.header__logo-toggle{
  position: relative;

}
.header__toggle{

}
@media (max-width: $toast-breakpoint-small) {
}
@media (max-width: $toast-breakpoint-medium) {
}
