.nav{}
}
.nav__list{
  width: 60%;
  box-sizing: border-box;
  display: flex;
  margin: 25px auto;

}
.nav__item{
  list-style-type: none;
  flex-grow: 1;

}
.nav__link{
  font-family: 'Playfair Display', Arial, sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  text-transform: capitalize;
}