.page-title{
  padding-top: 150px;
  padding-bottom: 30px;
  font-family: $ff-PD;
  font-size: $fsz30;
  line-height: $lh28;
  font-weight: $fw700;
  color: $main-yellow-c;
  &__title{
    padding-bottom: 50px;
  }
  &__description{
    width: 600px;
    font-family: $ff_L;
    font-size: $fsz16;
    font-weight: $fw500;
    line-height: $lh24;
    color: $light-content-c;
  }
}