.testimonials{
  &__title{
    text-align: center;
    color: #28211f;
    font-family: "Playfair Display";
    font-size: 32px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
  }
  &__slider{
    margin-bottom: 250px;
  }
  &__slider-item{
    display: flex;
  }
  &__slider-item--hidden{
    display: none;
  }
  &__slider-image{
    width: 821px;
    height: 425px;
    background-image: url("/img/testimonials-slide1-photo.jpg");
    background-size: cover;
  }
  &__slider-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 458px;
    height: 425px;
    background-color: #39312f;
    padding-top: 98px;
    box-sizing: border-box;
  }
  &__person-photo{
    width: 84px;
    height: 84px;
    margin-bottom: 15px;
    background-image: url("/img/brendan-lim.png");
    background-size: cover;
  }
  &__slider-person-name{
    text-align: center;
    color: #f5d76e;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
  }
  &__slider-description-text{
    width: 258px;
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
  }
}
.testimonials__slider-image--hidden{
  display: none;
}